footer {
  background-image: linear-gradient(
      180.47deg,
      #000000 -7.71%,
      rgba(0, 0, 0, 0) 132.74%
    ),
    url('../images/bg-footer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .footer-items {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;

    & > div {
      flex: 1 0;
      min-width: 225px;
    }

    .logo {
      width: 136px;
      min-width: 136px;
      align-self: center;
    }

    .feedback {
      display: flex;
      flex-direction: column;

      .social {
        margin-bottom: 30px;
        img {
          width: 25px;
        }
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      gap: 15px;

      h4 {
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.05em;
      }

      &__item {
        display: flex;

        img {
          width: 23px;
          height: 23px;
        }

        a,
        p {
          margin-left: 10px;
          font-size: 15px;
          letter-spacing: 0.05em;
        }
      }
    }

    .anchor-top {
      min-width: unset;
      align-self: center;

      a {
        margin: 0 auto;
        display: block;
        width: 16px;
        height: 29px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='30' viewBox='0 0 18 30' fill='none'%3E%3Cpath d='M9 30V1M9 1L1 9M9 1L17 9' stroke='%23ED1C24'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .usefull-links {
      a,
      button {
        margin-bottom: 15px;
        color: #fff;
        display: block;
        text-align: left;
        white-space: nowrap;
        font-size: 15px;
        letter-spacing: 0.05em;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  footer .footer-items {
    padding: 70px 15px;
    flex-direction: column;
    gap: 50px;

    .social {
      margin-top: -25px;
      justify-content: center;
    }

    .anchor-top {
      display: none;
    }
  }
}
