html,
body {
  overflow-x: hidden;
  background: #000;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }

  .italic {
    font-style: italic;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .owl-carousel .owl-nav {
    margin: 0;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -10;

    .owl-prev,
    .owl-next {
      margin: 0;
      width: 46px;
      height: 46px;
      background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='22.75' transform='matrix(-1 0 0 1 23 23)' stroke='white' stroke-width='0.5'/%3E%3Cpath d='M28.8267 13.4933L15.0267 22.3866L28.2133 32.2' stroke='white'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;

      &:hover {
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle r='12' transform='matrix(-1 0 0 1 12 12)' fill='%23ED1C24'/%3E%3Cpath d='M15.04 7.03906L7.84004 11.6791L14.72 16.7991' stroke='white'/%3E%3C/svg%3E");
      }

      span {
        display: none;
      }
    }

    .owl-next {
      transform: rotate(180deg);
    }
  }

  .fancybox {
    &__backdrop {
      background-color: rgba(10, 10, 10, 0.9);
    }

    &__thumbs {
      display: none;
    }

    &__nav {
      button {
        width: 46px;
        height: 46px;
        background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='22.75' transform='matrix(-1 0 0 1 23 23)' stroke='white' stroke-width='0.5'/%3E%3Cpath d='M28.8267 13.4933L15.0267 22.3866L28.2133 32.2' stroke='white'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
          background-color: transparent;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle r='12' transform='matrix(-1 0 0 1 12 12)' fill='%23ED1C24'/%3E%3Cpath d='M15.04 7.03906L7.84004 11.6791L14.72 16.7991' stroke='white'/%3E%3C/svg%3E");
        }

        &.is-next {
          transform: rotate(180deg) translateY(50%);
        }

        svg {
          display: none;
        }
      }
    }
  }

  img.withBg {
    background-color: hsl(0, 0%, 90%);
  }
}

.carousel {
  &__nav {
    margin: 0;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .carousel__button {
      margin: 0;
      width: 46px;
      height: 46px;
      background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='22.75' transform='matrix(-1 0 0 1 23 23)' stroke='white' stroke-width='0.5'/%3E%3Cpath d='M28.8267 13.4933L15.0267 22.3866L28.2133 32.2' stroke='white'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;

      &:hover {
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle r='12' transform='matrix(-1 0 0 1 12 12)' fill='%23ED1C24'/%3E%3Cpath d='M15.04 7.03906L7.84004 11.6791L14.72 16.7991' stroke='white'/%3E%3C/svg%3E");
      }

      svg {
        display: none;
      }

      &.is-next {
        transform: rotate(180deg) translateY(50%);
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  body {
    .container {
      max-width: 900px;
    }
  }
}

@media screen and (max-width: 940px) {
  body {
    .container {
      max-width: 90%;
    }

    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next,
    .carousel .carousel__button {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle r='12' transform='matrix(-1 0 0 1 12 12)' fill='%23ED1C24'/%3E%3Cpath d='M15.04 7.03906L7.84004 11.6791L14.72 16.7991' stroke='white'/%3E%3C/svg%3E");
    }
    .fancybox {
      &__slide {
        padding-left: 70px;
        padding-right: 70px;
        max-width: 840px;
      }

      &__nav {
        button {
          width: 36px;
          height: 36px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Ccircle r='8.56572' transform='matrix(-1 0 0 1 8.81611 9.19072)' stroke='white' stroke-width='0.5'/%3E%3Cpath d='M11.0498 5.54688L5.76037 8.95562L10.8147 12.717' stroke='white'/%3E%3C/svg%3E");

          &:hover {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Ccircle r='8.56572' transform='matrix(-1 0 0 1 8.81611 9.19072)' stroke='white' stroke-width='0.5'/%3E%3Cpath d='M11.0498 5.54688L5.76037 8.95562L10.8147 12.717' stroke='white'/%3E%3C/svg%3E");
          }

          &.is-prev {
            transform: translate(10px, 50%);
          }

          &.is-next {
            transform: rotate(180deg) translate(10px, -50%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  body {
    .fancybox {
      &__slide {
        max-width: 413px;
      }

      &__nav {
        button {
          width: 24px;
          height: 24px;

          &.is-prev {
            transform: translateY(50%);
          }

          &.is-next {
            transform: rotate(180deg) translateY(-50%);
          }
        }
      }
    }
  }
}
