.video-slider-wrap {
  margin: 0 auto;
  padding: 150px 0 55px;
  max-width: 920px;

  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  button {
    margin: 65px auto 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 46px;
    font-size: 15px;
  }

  #video-carousel {
    margin: 80px auto 25px auto;

    .carousel__slide {
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      iframe {
        width: 100%;
        height: 550px;
      }
    }

    .carousel__nav {
      top: calc(50% - 23px);
    }

    .carousel__button.is-prev {
      left: calc(-46px - 37px);
    }

    .carousel__button.is-next {
      right: calc(-46px - 37px);
    }
  }

  #video-thumb-carousel {
    .carousel__slide {
      margin-right: 30px;
      padding: 0;
      width: unset;
      cursor: pointer;

      img {
        height: 200px;
        width: 300px;
        object-fit: cover;
      }

      &.is-nav-selected.is-selected {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .video-slider-wrap {
    padding: 70px 0 50px;
    max-width: 650px;

    #video-carousel {
      .carousel__slide iframe {
        height: 390px;
      }

      .carousel__nav {
        top: calc(50% - 18px);
      }

      .carousel__button {
        width: 36px;
        height: 36px;
      }
      .carousel__button.is-prev {
        left: calc(-50px);
      }

      .carousel__button.is-next {
        right: calc(-50px);
      }
    }

    #video-thumb-carousel {
      .carousel__slide {
        img {
          width: 195px;
          height: 150px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .video-slider-wrap {
    padding: 70px 0 50px;
    max-width: 450px;

    #video-carousel {
      margin: 50px auto 10px;

      .carousel__slide iframe {
        height: 270px;
      }

      .carousel__button.is-prev {
        left: calc(-40px);
      }

      .carousel__button.is-next {
        right: calc(-40px);
      }
    }

    #video-thumb-carousel {
      .carousel__slide {
        margin-right: 20px;
        img {
          width: 135px;
          height: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .video-slider-wrap {
    max-width: 265px;

    #video-carousel {
      .carousel__slide iframe {
        height: 190px;
      }

      .carousel__nav {
        top: calc(50% - 10px);
      }

      .carousel__button {
        width: 20px;
        height: 20px;
      }
      .carousel__button.is-prev {
        left: calc(-35px);
      }

      .carousel__button.is-next {
        right: calc(-35px);
      }
    }

    #video-thumb-carousel .carousel__slide img {
      width: 75px;
      height: 50px;
    }

    button {
      margin-top: 40px;
    }
  }
}
