.why {
  padding: 75px 0 145px;
  background-image: linear-gradient(
      181.2deg,
      #000000 -12.55%,
      rgba(0, 0, 0, 0) 115.88%
    ),
    url(../images/bg-why.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  h2 {
    margin: 25px auto 75px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  &__description {
    margin: 0 auto;
    padding: 110px 45px 100px;
    max-width: 1018px;
    width: 100%;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(100px);

    p {
      span {
        font-weight: 600;
      }

      &::before {
        content: '';
        display: block;
        border-top: 8px solid $main;
        width: 90px;
        position: relative;
        top: -45px;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .why {
    padding: 41px 0 77px;

    h2 {
      margin: 0 auto 33px;
      font-size: 25px;
    }

    &__description {
      padding: 30px 20px;
      max-width: 90%;

      p {
        font-size: 15px;

        &::before {
          border-top: 2px solid $main;
          width: 28px;
          top: -12px;
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .why {
    h2 {
      max-width: 300px;
    }
  }
}
