@import 'reset';
@import 'variables';
@import 'global';
@import 'buttons';

@import 'fonts';
@import 'typography';

@import 'header';

@import 'preview-screen';
@import 'statistics';
@import 'photo-slider';
@import 'brands';
@import 'categories';
@import 'works';
@import 'why';
@import 'video-slider';
@import 'reviews';

@import 'footer';

@import 'modal';
@import 'cookies';
@import 'modal-thanks';
@import 'modal-form';
@import 'modal-california';


@import 'default-page';